[Unit]
Description=NsynthSuperHard
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/NsynthSuperHard/main.py

[Install]
WantedBy=multi-user.target
